@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,900&display=swap');

body{
    background-image: url('images/thuraya.png');
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

a{
    text-decoration: none;
    list-style: none;

}    
.button{
    background: #E5CBA4;
}
.button:hover{
    background: #D1A773; 
}

.title{
    font-family: 'Noto Serif Display', serif;;
}